.group-logs
{
	&.sitelog
	{
		table
		{
			th.date
			{
				min-width: 175px;
			}

			th.lines,
			td.lines
			{
				text-align: center;
				width: 75px;
			}

			th.actions
			{
				width: 75px;
			}
		}

		&.view
		{
			ol
			{
				padding:0;
				margin:0;
				border:1px solid #CCC;
				background: #FFF;

				li
				{
					padding:0.25em 0.5em;
					margin:0;
					font-family: monospace;
					border-bottom: 1px solid #EFEFEF;
					margin-left: 0;
					list-style-position: inside;

					&:nth-child(even)
					{
						background: #FEFEFE;
					}

					&:hover
					{
						background: #EFEFEF;
					}
				}
			}
		}
	}

	&.changelog
	{

	}

	&.events
	{

	}
}