@input_margin: 5px;

.group-notification
{
	&.overview
	{
		table
		{
			th,
			td
			{
				&.event-label
				{
					width:125px;
				}

				&.value
				{
					position:relative;

					.input-wrapper
					{
						left:@input_margin;
						right:@input_margin;
						bottom:@input_margin;
						top:@input_margin;
						margin:0;
						position:absolute;

						input
						{
							width:100%;
							box-sizing:border-box;
						}
					}

					&.has-tip
					{
						.input-wrapper
						{
							right:@input_margin + 35px;
						}
					}
				}
			}
		}
	}
}