/* --------------------------------------------------------------
   Nails CMS Module Admin Styles
-------------------------------------------------------------- */

@import 'common/variables.less';
@import 'admin/variables.less';
@import 'common/elements.less';

.group-cms {
    /**
     * Menus
     */
    &.menus {
        &.overview {
            table {
                th,
                td {
                    &.label {
                        min-width: 200px;
                    }
                    &.actions {
                        min-width: 145px;
                    }
                }
            }
        }
        &.edit {
            ol.nested-sortable {
                margin: 0;
                margin-bottom: 1em;
                padding: 0;
                list-style: none;
                font-size: 100%;
                @background: #CCCCCC;
                @handle_width: 30px;
                @actions_width: 70px;
                @content_padding: 5px;
                li {
                    border: 1px solid rgba(159,159,159,1);
                    margin: 0;
                    margin-bottom: 0.5em;
                    list-style: none;
                    position: relative;
                    background: rgba(179,179,179,0.35);
                    font-size: 1em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.ui-sortable-placeholder {
                        border: 1px dashed rgba(159,159,159,1);
                        visibility: visible !important;
                    }
                    li {
                        margin-bottom: 0;
                    }
                    div.handle,
                    div.actions {
                        line-height: 37px;
                        position: absolute;
                        top: 0;
                        text-align: center;
                        bottom: 0;
                        background: rgba(179,179,179,1);
                    }
                    div.handle {
                        left: 0;
                        bottom: 0;
                        width: @handle_width;
                        cursor: url(../img/admin/cursors/openhand.cur), none !important;
                    }
                    div.content {
                        padding: 0;
                        margin: 0;
                        margin-left: @handle_width;
                        margin-right: @actions_width;
                        .containerLabel,
                        .containerUrl {
                            display: inline-block;
                            width: 50%;
                            padding: 0;
                            margin: 0;
                            padding: @content_padding;
                            input {
                                margin: 0;
                            }
                        }
                        .containerLabel {
                            padding-right: @content_padding/2;
                            input {
                                width: 100%;
                            }
                        }
                        .containerUrl {
                            padding-left: @content_padding/2;
                            input,
                            select {
                                width: 45%;
                                display: inline-block;
                            }
                            div.or {
                                display: inline-block;
                                width: 10%;
                                text-align: center;
                                font-size: 0.8em;
                            }
                        }
                    }
                    div.actions {
                        right: 0;
                        width: @actions_width;
                        a {
                            margin: 0;
                        }
                    }
                    ol {
                        font-size: 100%;
                        margin: 0;
                        margin-left: @handle_width;
                        padding: 0;
                        li {
                            border-right: 0;
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            div.nested-sortable {
                p {
                    margin: 1em;
                }
            }
        }
    }
    /**
     * Pages
     */
    &.pages {
        &.overview {
            table {
                th,
                td {
                    &.actions {
                        width: 215px;
                    }
                }
                td {
                    &.title {
                        .label {
                            margin-right: 0.5em;
                            display: inline;
                            padding: .2em .6em .3em;
                            font-size: 75%;
                            font-weight: bold;
                            line-height: 1;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            border-radius: .25em;
                            color: #FFFFFF;
                            position: relative;
                            top: -1px;
                            &.label-draft {
                                background: #4DB3D6;
                            }
                            &.label-unpublished-changes {
                                background: #EB9E3E;
                            }
                        }
                    }
                }
            }
        }
        &.edit {
            .templates {
                margin: 1em;
                margin-bottom: 0;
                li {
                    display: inline-block;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    margin: 0;
                    box-sizing: border-box;
                    &.template-group-label {
                        display: block;
                        font-weight: bold;
                        border-bottom: 1px dotted #E2E2E2;
                        margin: 0;
                        padding: 0.5em 0;
                        margin-bottom: 1em;
                    }
                }
                .template {
                    box-sizing: border-box;
                    display: table;
                    border: 1px solid #CCCCCC;
                    background: #FFFFFF;
                    .rounded(3px);
                    width: 150px;
                    height: 150px;
                    padding: 5px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    .opacity(0.75);
                    transition: opacit 0.2s ease-out;
                    input {
                        display: none;
                    }
                    .icon {
                        background: #F5F5F5 url(../img/admin/modules/cms/template-no-preview.png) center no-repeat;
                        display: block;
                        width: 100%;
                        height: 111px;
                        border: 1px solid #EAE9EB;
                    }
                    .name {
                        background: transparent;
                        height: 28px;
                        margin-top: 0.5em;
                        width: 152px;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: opacity 0.2s ease-out;
                        .checkmark {
                            color: #669933;
                            padding-right: 0.25em;
                            display: none;
                            font-size: 1.5em;
                            position: relative;
                            top: 3px;
                        }
                    }
                    &:hover {
                        border-color: #AAAAAA;
                        .opacity(1);
                        transition: opacit 0.2s ease-out;
                    }
                    &.selected {
                        border-color: #999999;
                        .drop-shadow( 0, 0, 7px, 0.3 );
                        .opacity(1);
                        .name {
                            .checkmark {
                                display: inline;
                            }
                        }
                    }
                }
            }
            .template-areas,
            .template-options {
                .alert {
                    padding: 5px 10px;
                }
            }
            .template-areas {
                .btn-group {
                    margin: 1em;
                }
            }
            .actions {
                border: 1px solid #CCCCCC;
                padding: 15px;
                background: #EEEEEE;
                box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
                border-top: 1px solid #AAAAAA;
                border-bottom: 1px solid #AAAAAA;
                &.loading {
                    @colour1: rgba(213, 212, 214, 1);
                    background-image: linear-gradient(
                    -45deg,
                    @colour1 25%,
                    transparent 25%,
                    transparent 50%,
                    @colour1 50%,
                    @colour1 75%,
                    transparent 75%,
                    transparent
                    );
                    background-size: 50px 50px;
                    animation: move 2s linear infinite;
                    overflow: hidden;
                    box-shadow: inset 0 10px 0 rgba(255,255,255,0.2);
                    /*
                    Animate the stripes
                    */
                    @keyframes move {
                        0% {
                            background-position: 0 0;
                        }
                        100% {
                            background-position: 50px 50px;
                        }
                    }
                }
            }
        }
        &.cms-page-preview {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            padding: 1.5em;
            box-sizing: border-box;
            display: none;
            .spinner {
                position: absolute;
                left: 50%;
                top: 50%;
                color: #FFFFFF;
                font-size: 2em;
                transform: translate(-50%, -50%);
            }
            iframe {
                width: 100%;
                height: 100%;
                padding-top: 1.5em;
                background: transparent;
            }
            .actions {

            }
        }
    }
    /**
     * Blocks
     */
    &.blocks {
        code {
            border: 1px solid #EFEFEF;
            background: #F8F8F8;
            padding: 5px;
        }
        &.overview {
            table {
                th,
                td {
                    &.label,
                    &.location {
                        min-width: 250px;
                    }
                    &.type {
                        min-width: 100px;
                    }
                    &.value {
                        min-width: 200px;
                    }
                    &.default {
                        max-width: 225px;
                    }
                    &.actions {
                        min-width: 110px;
                    }
                }
                td {
                    &.default {
                        img {
                            border: 1px solid #CCCCCC;
                            padding: 2px;
                            border-radius: 3px;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
        &.edit {
            textarea,
            input[type=text],
            input[type=url],
            input[type=email],
            input[type=number] {
                width: 100%;
                margin-bottom: 0;
                padding: 10px;
            }
            .field {
                &.mm-image,
                &.mm-file {
                    span.label {
                        display: none;
                    }
                }
            }
        }
    }
    /**
     * Sliders
     */
    &.sliders {
        &.overview {
            table {
                th,
                td {
                    &.title {
                        min-width: 200px;
                    }
                    &.actions {
                        min-width: 110px;
                    }
                }
            }
        }
        &.edit {
            table {
                margin-bottom: 1em;
                tr {
                    .ui-sortable-placeholder {
                        visibility: visible !important;
                        td {
                            border-style: dashed;
                        }
                    }
                }
                th,
                td {
                    &.order {
                        width: 60px;
                        text-align: center;
                    }
                    &.image {
                        width: 150px;
                        text-align: center;
                    }
                    &.link {
                        width: 300px;
                    }
                    &.remove {
                        width: 35px;
                        text-align: center;
                    }
                }
                td {
                    &.sortHandle {
                        cursor: url(../img/admin/cursors/openhand.cur), move !important;
                        &:active {
                            cursor: url(../img/admin/cursors/closedhand.cur), move !important;
                        }
                    }
                    &.image {
                        img {
                            border: 1px solid #CCCCCC;
                            padding: 3px;
                            background: #FFFFFF;
                            max-height: 130px;
                            max-width: 130px;
                        }
                        a.awesome {
                            &.btnSetImg,
                            &.btnRemoveImg {
                                width: 100%;
                                margin: 0;
                            }
                            &.btnRemoveImg {
                                margin-top: 5px;
                                &.hidden {
                                    display: none;
                                }
                            }
                        }
                    }
                    &.caption {
                        textarea {
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            min-height: 100px;
                            padding: 7px;
                        }
                    }
                    &.link {
                        input[type=text] {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    /**
     * Areas
     */
    &.areas {
        &.overview {
            table {
                th,
                td {
                    &.actions {
                        width: 110px;
                    }
                }
            }
        }
    }
    /**
     * Widget Editor
     */

    //  Generic variables
    @widgeteditor-zindex: 999;

    //  Header variables
    @widgeteditor-header-height: 42px;

    //  Search Variables
    @widgeteditor-search-height: 40px;

    //  Widget variables
    @widgeteditor-widgets-width: 200px;

    //  Body variables
    @widgeteditor-body-padding: 1em;

    &.widgeteditor {
        position: fixed;
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: @widgeteditor-zindex;
        background: rgba(0, 0, 0, 0.8);
        &.active {
            display: block;
        }
        > .widgeteditor- {
            &header,
            &actions,
            &search,
            &widgets,
            &body {
                margin: 0;
                padding: 0;
                position: absolute;
                box-sizing: border-box;
                user-select: none;
            }
            &header {
                top: 0;
                left: 0;
                right: 0;
                height: @widgeteditor-header-height;
                background: rgba(255, 255, 255, 1);
                line-height: @widgeteditor-header-height;
                border-bottom: 1px solid #121618;
                font-weight: bold;
                padding: 0 1em;
                box-shadow: 0 0 4px rgba(0,0,0,0.5);
                z-index: 1;
            }
            &actions {
                top: 0;
                right: 0;
                height: @widgeteditor-header-height - 1;
                text-align: right;
                padding: 5px;
                z-index: 2;
                a {
                    margin-left: 5px;
                }
            }
            &search {
                top: 0;
                left: 0;
                width: 100%;
                height: @widgeteditor-search-height;
                background: rgba(255, 255, 255, 1);
                line-height: @widgeteditor-search-height;
                z-index: 1;
                &:before {
                    display: block;
                    font-family: FontAwesome;
                    content: '\f002';
                    position: absolute;
                    left: 1em;
                    top: 2px;
                    color: #CCCCCC;
                }
                input {
                    padding: 0.75em 1em 0.75em 2.5em;
                    border: 0;
                    width: 100%;
                    box-sizing: border-box;
                    &:focus {
                        outline: none;
                    }
                }
            }
            &widgets {
                top: @widgeteditor-header-height;
                left: 0;
                bottom: 0;
                width: @widgeteditor-widgets-width;
                background: #121618;
                overflow-y: auto;
                border-right: 1px solid #121618;
                .widget-group {
                    padding: 1em 0.6em;
                    padding-right: 2em;
                    font-weight: bold;
                    color: #FFFFFF;
                    cursor: pointer;
                    position: relative;
                    &.closed {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                    .icon {
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        line-height: 1.5em;
                        color: #03A9F4;
                        transition: transform 0.2s;
                        transform: rotate(0deg);
                    }
                    + .widget {
                        border-top: 0;
                    }
                }
                .widget {
                    &.hidden {
                        display: none;
                    }
                    &:hover {
                        background: #EFEFEF;
                    }
                    &:active {
                        background: #DEDEDE;
                        cursor: move;
                        cursor: grabbing;
                        cursor: -moz-grabbing;
                        cursor: -webkit-grabbing;
                    }
                }
                .widget-group,
                .widget {
                    &.search-show {
                        display: block;
                    }
                    &.search-hide {
                        display: none;
                    }
                }
            }
            &body {
                top: @widgeteditor-header-height;
                left: @widgeteditor-widgets-width;
                right: 0;
                bottom: 0;
                padding: @widgeteditor-body-padding;
                background: rgba(255,255,255,0.75);
                overflow: auto;
                > ul {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    margin: 1em;
                    &:empty + .no-widgets {
                        display: block;
                    }
                    > .widget {
                        margin: 1em 0;
                        width: 100%;
                        box-sizing: border-box;
                        cursor: default;
                        &:first-child {
                            margin-top: 0;
                        }
                        .icon {
                            cursor: move;
                            cursor: grab;
                            cursor: -moz-grab;
                            cursor: -webkit-grab;
                            &:active {
                                cursor: move;
                                cursor: grabbing;
                                cursor: -moz-grabbing;
                                cursor: -webkit-grabbing;
                            }
                        }
                    }
                    .sortable-placeholder {
                        background: #FFFFFF;
                        box-sizing: border-box;
                        border: 1px dashed #CCCCCC;
                    }
                }
                > .no-widgets {
                    position: absolute;
                    top: 0.5em;
                    left: 0.5em;
                    right: 0.5em;
                    bottom: 0.5em;
                    display: none;
                    font-size: 2em;
                    color: #999999;
                    border: 1px dashed #999999;
                    padding: 1em;
                    padding-top: 3em;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }
        /**
         * Not nested within widgeteditor-widgets so that styles can be maintained whilst dragging
         */
        .widget {
            padding: 0.6em;
            border-top: 1px solid #CCCCCC;
            border-left: 4px solid #03A9F4;
            background: #FFFFFF;
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            width: @widgeteditor-widgets-width - 1; // Account for the right border
            position: relative;
            &.ui-draggable-dragging,
            &.ui-sortable-helper {
                color: #FFFFFF;
                background: #03A9F4;
                border: 1px solid darken(#03A9F4, 10%);
                height: 40px;
            }
            &.closed {
                display: none;
            }
            &.editor-loading {
                .action-refresh-editor {
                    animation: fa-spin 2s infinite linear;
                }
                .editor-target {
                    border-color: transparent;
                }
            }
            .icon {
                margin-right: 0.5em;
                width: 15px;
                text-align: center;
            }
            .action {
                position: absolute;
                top: 1em;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    outline: none;
                }
                &.action-remove {
                    right: 1em;
                }
                &.action-refresh-editor {
                    right: 2.5em;
                }
            }
            .description {
                font-size: 0.8em;
            }
            .editor-target {
                margin: 0;
                margin-top: 1em;
                border: 1px solid #EFEFEF;
                > *:last-child {
                    margin-bottom: 0;
                }
                textarea {
                    width: 100%;
                    min-height: 200px;
                }
            }
        }
    }
    &.widgeteditor-alert {
        z-index: @widgeteditor-zindex + 1;
    }
}
