/* --------------------------------------------------------------
   Nails Settings Module Admin Styles
-------------------------------------------------------------- */

.group-settings {
    &.site {
        .configure-provider {
            .awesome {
                position: relative;
                top: -9px;
                left: 15px;
                &:active {
                    top: -8px;
                }
            }
        }
    }
    &.notification {
        @input_margin: 5px;
        &.overview {
            table {
                th,
                td {
                    &.event-label {
                        width: 125px;
                    }
                    &.value {
                        position: relative;
                        .input-wrapper {
                            left: @input_margin;
                            right: @input_margin;
                            bottom: @input_margin;
                            top: @input_margin;
                            margin: 0;
                            position: absolute;
                            input {
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }
                        &.has-tip {
                            .input-wrapper {
                                right: @input_margin + 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.configure-provider-fancybox {
    div.field {
        span.label {
            width: 70px;
        }
        span.input {
            margin-left: 105px;
        }
    }
}
