/* --------------------------------------------------------------
   Nails Dashboard Admin Styles
-------------------------------------------------------------- */

.group-dashboard {
    .welcome {
        text-align: center;
        padding: 140px 0;
        color: #eaeaea;
        .icon {
            font-size: 7em;
            margin-bottom: 0.5em;
        }
        .text {
            font-size: 4em;
            line-height: 1.2em;
        }
    }
    &.help {
        th.duration,
        td.duration,
        th.actions,
        td.actions {
            width: 100px;
            text-align: center;
        }
    }
}
