/* --------------------------------------------------------------

    VARIABLES

    Variables / constants used throughout the stylesheets

-------------------------------------------------------------- */

@color-blue: #00B3DF;
@color-green: #84A717;
@color-orange: #FD6925;
@color-red: #D10000;
@color-black: #333333;
@color-grey: #888888;

//  contextual colours
@color-neutral-background: #EFEFEF;
@color-neutral-text: #444444;
@color-neutral-border: #CCCCCC;

@color-danger-background: #F2DEDE;
@color-danger-text: #A94442;
@color-danger-border: #EBCCD1;

@color-success-background: #DFF0D8;
@color-success-text: #3C763D;
@color-success-border: #D6E9C6;

@color-warning-background: #FCF8E3;
@color-warning-text: #8A6D3B;
@color-warning-border: #FAEBCC;

@color-info-background: #D9EDF7;
@color-info-text: #31708F;
@color-info-border: #BCE8F1;
